html {
    font-size: 62.5%;
}

body { 
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

main { 
    display: inline-block;
    text-align: left;
    max-width: 900px;
    width: 100%;
}

.header {
    margin-top: 3em;
}

h1 {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

.formInputs{
    display: flex;
    justify-content: flex-start;
}

.formGroup {
    margin-right: 15px;
    width: 100%;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    height: 38px;
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 15px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-sizing: border-box;
}

select { 
    height: 38px;
    width: 80px;
    padding: 6px 10px;
    background-color: #FFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
}

input:focus, select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

.submit {
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    color: #FFF;
    background-color: #1EAEDB;
    border-radius: 4px;
    border: none;
    
}