html {
    line-height: 1.15;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #1E2227;
    margin: 0;
}

header {
    text-align: center;
    color: #0099D5;
}

header, p {
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: 100%;
}

.newBook{
    cursor: pointer;
    margin: 1em 0;
}

.table {
    width: 1000px;
}

table {
    width: 100%;
    background-color: #272822;
    color: #f8f8f2;
    border-spacing: 0;
    border-bottom: 5px solid #272822;
}

tbody {
    background-color: #FEFEFE;
    color: #424242;
}

th {
    padding: 10px 10px;
}

td {
    padding: 10px;
    text-align: center;
}