/* layout and base styles */

html {
    font-size: 62.5%;
}

body { 
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

main { 
    display: inline-block;
    text-align: left;
    max-width: 900px;
    width: 100%;
}

/* Styles for the description header and the new book form*/ 

.header {
    margin-top: 2em;
}

h1 {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

.formInputs{
    display: flex;
    justify-content: flex-start;
}

.formGroup {
    margin-right: 15px;
    width: 100%;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    height: 38px;
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 15px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-sizing: border-box;
}

select { 
    height: 38px;
    width: 80px;
    padding: 6px 10px;
    background-color: #FFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
}

input:focus, select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

/* Button styles */

button {
    cursor: pointer;
    color: #FFF;
    outline: 0;
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 0 7.5px;
    margin: 0 5px;
}

.submitButton {
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center;
    background-color: #1EAEDB;
    margin-bottom: 30px;
    margin-left: 0px;
}

.readButton {
    box-sizing: border-box;
    width: 95px;
    text-transform: uppercase;
    background-color: #FFF;
    color: black;
    border: 1px solid #bbb;
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

.editButton {
    background-color: #1EAEDB;
}

.deleteButton {
    background-color: rgb(207, 24, 94);
}

.readButton:hover{ 
    border-color: #888;
}

button:hover {
    filter: brightness(0.90);
}

button > * {
    pointer-events: none;
}

/* Table styles */ 

table {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #E1E1E1;
    padding: 10px 15px;
}

.actionButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}